* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
}

body {
    background: #f4f7f6;
}


/* =========================
   SIDEBAR SPACE
========================= */

.app-content {
    margin-left: 260px;
    min-height: 100vh;
}


/* main content hai */

.main-content {
    width: calc(100% - 240px);
    min-height: calc(100vh - 64px);
    margin-left: 240px;

    padding: 96px 50px 40px;
    background-color: #f6f3ea;
    box-sizing: border-box;
}

.dashboard h1 {
    font-weight: 600;
    color:  #183a2a;
}

.dashboard h1 span{
    color: #5f954e;;
}

.welcome p {
    color: #617965;
}

.hero-poster {
    width: 100%;
    height: 350px;
    background-image: url(/images/image_1.png);
    background-size: cover;

    border-radius: 0.8rem;
    border-top-right-radius: 2.5rem;

    margin-bottom: 1rem;
}

.small-heading {
    margin: 0;
    font-size: smaller;
    color: #617965;
}

.dashboard .medium-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color:  #183a2a;
}

.tool-container {
    width: 100%;

    display: flex;
    flex-wrap: nowrap;
    /* flex-wrap: wrap; */
    margin: 0 auto;
    gap: 10px;
}

#scan-card {
    flex: 2;
    height: 400px;
    border-radius: 0.75rem;
    border-top-right-radius: 2.5rem;
}

.tool-container .same-size {
    flex: 1;
    height: 400px;
    border-radius: 0.75rem;
    border-top-right-radius: 2.5rem;
}
